* {
	box-sizing: border-box;
}

*:lang(ar) {
	font-family: 'Cairo';
	direction: rtl;
}

*:lang(en) {
	font-family: 'Roboto';
	direction: ltr;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #b8b7b2;
	background-color: #efefef;
	text-align: center;
	height: 100vh;
}

.page-not-found {
	margin: 50px 0;
	display: flex;
	justify-content: center;
}

a {
	color: red;
}

.page-not-found h2 {
	font-size: 140px;
	font-weight: 600;
	letter-spacing: -10px;
	line-height: 140px;
}

.page-not-found h4 {
	color: #777;
}

.page-not-found p {
	font-size: 1.4em;
	line-height: 36px;
}

.alert-msg-wrapper {
	background-color: #DC3545;
	color: #fff;
	border-radius: 10px;
}

:is(a):hover {
	color: dodgerblue;
	text-decoration: none;
}

.not-found-fixed-footer {
	display: block;
	width: 100%;
	padding: 1rem 1.5rem;
	border-radius: 5px;
}